.logo.col-sm-12
  = image_tag "logo.png"

= form_for @message do |f|
  .container.scroll#mail
    
    .row
      .col-sm-12.form-group
        = render 'layouts/flash'

        = f.label :subject
        = f.text_field :subject, class: "form-control subject", placeholder: "Subject"

      .col-sm-12.form-group
        = f.label :recipient
        = f.email_field :recipient, class: "form-control sendto", placeholder: "Send To"

      .col-sm-12.form-group
        = f.label :send_at
        = f.datetime_field :send_at, class: "form-control sendto datetimepicker", placeholder: "When to send"

      .col-sm-12.form-group
        = f.label :body
        = f.text_area :body, class: "form-control sendto", placeholder: "Body"

      .col-sm-12.form-group
        = f.submit "Submit", class: "btn btn-green"
