
.container.full-width
  .row
    = image_tag "logo.png", class: "logo"

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .loginForm
        .row
          .col-sm-6
            = f.email_field :email, class: "form-control"
          .col-sm-6
            = f.password_field :password, class: "form-control"
          
        .row
          .col-sm-12
            = f.submit "Sign in", class: "btn btn-transparent"           

        .row.loginForm.top20
          .col-sm-6
            = link_to user_omniauth_authorize_path(:facebook), class: "facebook-signin signin-btn" do
              %i.fa.fa-facebook-square
              Sign in with Facebook

          .col-sm-6
            = link_to "#", class: "twitter-signin signin-btn" do
              %i.fa.fa-twitter
              Sign in with Twitter

